$baseline: 22px;

* {
	box-sizing: border-box;
}

body {
	max-width: 100%;
	overflow-x: hidden;
	background-color: white;
}
.container {
	max-width: $baseline * 40;
	margin: 0 auto;
	padding: $baseline;
}
.section {
	border: 2px solid $grey-light;
	padding: $baseline $baseline 0 ;
	margin-bottom: $baseline;

	&:hover {
		border-left: 2px solid $blue;
	}
}